:root{
    --primario: #000C18;
    --secundario: #033047;
    --terciario: #24A6C4;
    --blanco: #e9ecec;
}

*{
    margin: 0;
    padding: 0;
}
.fondo__barra__busqueda{
    display: flex;
    justify-self: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: #EEEEEE;
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, .3);
    transition: .5s ease;
}

.fondo__barra__busqueda:hover{
    width: 500px;
}

.barra__busqueda{
    width: 100%;
    height: 100%;
    color: #6528F7;
    font-size: 20px;
    border: none;
    outline: none;
    background: transparent;
}

.boton__busqueda{
    font-size: 22px;
    color: #6528F7;
    cursor: pointer;
}

h1 {
    color: var(--secundario);
    padding: 2rem;
    font-family: var(--fuentePrimaria);
    text-align: center;
}
nav{
    color: var(--primario);
    padding: 1.5rem;
    background-color: green;
    font-family: var(--fuentePrimaria);
    display: flex;
    justify-content: space-between;
}
a{
    color: var(--primario);
    text-decoration: none;
    padding: 1rem;
}
footer{
    text-align: center;
}
